.main-nav {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

/* .secondary-nav {
    display: flex;
    flex-direction: row;
    background-color: aqua;
} */

.main-container {
    display: flex;
    flex-direction: row;
    /* use this one when you bring the main navbar back */
    /* height: calc(var(--doc-height) - calc(var(--navbar-height) + var(--secondary-navbar-height))); */
    height: calc(var(--doc-height) - var(--secondary-navbar-height));
}


.col-1 {
    width: 350px;
    flex-shrink: 0;
}

.col-2 {
    background-color: aqua;
    flex-grow: 1;
    overflow-y: scroll;
}

.col-3 {
    /* width: 512px; */
    width: 15%;
    flex-shrink: 0;
}

.settings {
    background-color: rgb(76, 0, 255);
}
.image-area {
    background-color: rgb(0, 255, 191);
}
.recents {
    background-color: rgb(255, 0, 212);
}