:root {
    /* COLORS */
    --primary-panel-color: #2a262e;
    --secondary-panel-color: #3b3245;
    --gradient-dark: #2e2838;
    --gradient-light: #635f72;
    --muted-outline: #736e81;
    --active-light: #a199b7;
    --shadow: rgba(0, 0, 0, 0.529);
    --light-shadow: rgb(255, 255, 255);
    --btn-hover-primary: #837e93;
    --transparent: #e6e6e600;
    --primary-text-color: #e6e6e6;

    /* NAVBAR HEIGHTS */
    --navbar-height: 85px;
    --secondary-navbar-height: 200px;
    --doc-height: 100%;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background: var(--secondary-panel-color);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary-panel-color);
    box-shadow: inset 0 0 5px var(--shadow);   
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-panel-color);
    border-radius: 10px;
    padding: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--muted-outline);
}

/* SELECT DROPDOWN */
.custom-select-container {
    color: white;
    border: none !important; 
}
.custom-select__control {
    background-color: var(--secondary-panel-color) !important;
    border: none !important;
    box-shadow: none !important;
}
.custom-select__control--is-focused {
    box-shadow: 0px 0px 0px 3px var(--muted-outline) !important;
}
.custom-select__value-container {
    border: none !important;
}
.custom-select__indicators {
    
}
.custom-select__menu {
    background-color: var(--secondary-panel-color) !important;
}
.custom-select__menu-list {

}
.custom-select__option {

}
.custom-select__option--is-selected {
    background: var(--muted-outline) !important;
}
.custom-select__option--is-focused {
    background: var(--gradient-light) !important;
}
.custom-select__single-value {
    color: white !important;
    
}